@use '../utilities/variables';
@use '../utilities/mixins';



body h3 {
  margin-bottom: 25px;
}
.navbar-brand a {
  color: #ffffff;
}

.dark-blue {
  background-color: variables.$main-color-2;
}
.main-flex-cont {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  @include mixins.flex-cont(row,wrap,flex-start);
  img {
    width: auto;
    height: 500px;
    margin-left: 5%;
  }
}
.dark-text {
  color: variables.$text-color-2;
  margin: 14% 4% auto 13%;

  h1 {
    font-weight: bold;
    font-size: 3.5rem;
  }
}
top-banner-bottom-angle.jsx-4183910149 {
  height: 34px;
}
.top-banner-bottom-angle.jsx-4183910149 {
  background-color: variables.$main-color-2;
  height: 64px;
  position: relative;
  width: 100%;
}
.svg-triangle.jsx-4183910149 {
  fill: variables.$main-color-1;
  height: 100%;
  width: 100%;
}
.light-grey {
  background-color: variables.$main-color-1;
}
.dark-blue-light-text {
  color: variables.$text-color-1;
  background-color: variables.$main-color-2;

}
.light-text {
  color: variables.$text-color-1;
}
.right-text {
  margin: 10% 10% 15% 15%;
  color: variables.$text-color-4;
}
.flex-cont-qoute {
  @include mixins.flex-cont(row,nowrap,space-between);
  justify-content: space-around;
  padding: 20px 5% 20px 10%;
}
.footer-list {
  list-style-type: none;
  color: #e3e4e6;
  line-height: 32px;
  font-size: 1.2rem;
}
.flex-cont-qoute ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.inherit-display {
  display: inherit;
}
.quote-cont-light-grey,
.website,
.tel,
.linkedin {
  color: #e3e4e6;
}
.qoute {
  font-size: 2rem;
}
.table-edit-story {
  font-size: 1.2em;
  border: 1px solid #152238;
  color: #666;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  td {
    padding: 0.8em;
    border-bottom: 1px solid rgba(181, 213, 144, 0.5);
  }
  th {
    padding: 0.8em;
    border-bottom: 1px solid rgba(181, 213, 144, 0.5);
    background: #152238;
    color: #fff;
    font-weight: normal;
    text-align: right;
  }
  td {
    text-align: right;
  }
  tr {
    &:hover,
    td:nth-child(2n) {
      background: rgba(181, 213, 144, 0.2);
    }
  }
  min-width: 980px;
  max-width: 1200px;

  th:first-child {
    width: 8em;
  }
}
.main-felx-cont {
  @include mixins.flex-cont(row,nowrap,space-evenly);
}
.main-page-share-cont {
  background-color: variables.$main-color-3;
  padding: 120px;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.white-cont {
  background-color: white;
  padding: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}